@import "tailwindcss";

@theme {
    --color-light-yellow: #ffdf8c;
    --color-orange: #fe5f1e;
    --color-orange-hover: #fe651e;
    --color-gray: #7b7b7b;
    --color-silver: #ede8e8;
}

@layer base {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }

    button {
        cursor: pointer;
    }
}

@utility button-hover {
    @apply hover:bg-orange-hover transition-colors duration-250;
}

@utility button-inline-hover {
    @apply hover:bg-orange transition duration-250 ease-in-out hover:text-white;
}

@utility button-black-hover {
    @apply transition-colors duration-250 hover:bg-[#3F3A3A];
}

@utility button-input {
    @apply border-orange text-orange flex h-8 w-8 items-center justify-center rounded-full border-2 text-xl font-bold;
}
